.team-section {
}

.team-section .team-members {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.team-section .photo-section {
    width: 100%;
}

.team-section .photo {
    width: 100%;
}

.team-section .nophoto-frame {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.team-section .nophoto {
    width: 100%;
    height: 395px;
}

.team-section .w3-card {
    background-color: rgb(245, 240, 230);
}